# Python에서 MySQL 사용하기

- conda install pymysql 설치

In [1]:
import json
import pymysql

In [3]:
with open('mysql.json','r') as file:
    config_str = file.read()
config_str

'{\n    "host": "localhost",\n    "user": "hkuser",\n    "password": "hkpass",\n    "database": "world",\n    "port": 3306\n}'

In [5]:
# JSON parsing
config = json.loads(config_str)
config

{'host': 'localhost',
 'user': 'hkuser',
 'password': 'hkpass',
 'database': 'world',
 'port': 3306}

- connection 객체 만들기

In [6]:
# mysql.json에서 가져온것
conn = pymysql.connect(                 # connection 
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database =  config['database'],
    port =  config['port']
)

In [7]:
cur = conn.cursor()         # cursor를 통해서 처리한다

In [8]:
sql = 'select * from team;'
cur.execute(sql)        # sql 실행 - 데이터가 10개인거 확인

10

In [9]:
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 21, '오승환', '투수', 11000000)
(2, 2, '우규민', '투수', 200000000)
(3, 29, '백정현', '투수', 255000000)
(4, 17, '김대우', '투수', 155000000)
(5, 16, '이원석', '내야수', 300000000)
(6, 44, '오재일', '내야수', 600000000)
(7, 13, '박해민', '외야수', 380000000)
(8, 5, '구자욱', '외야수', 360000000)
(9, 12, '김민수', '포수', 47000000)
(10, 47, '강민호', '포수', 500000000)

- Resource 반환

In [ ]:
cur.close()
conn.close()